<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html :: head">
</div>

<body>

<div class="jumbotron text-center bg-info shadow">
    <h1><a href="/" class="text-decoration-none text-dark font-weight-bolder">Codecool Shop</a></h1>
</div>

<div class="product-added-alert"></div>

<div class="container">

    <!-- login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="loginForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="loginUsername" class="mt-3">Username</label>
                            <input type="text" class="form-control" id="loginUsername"
                                   placeholder="Enter your username..." required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="loginPassword" class="mt-3">Password</label>
                            <input type="password" class="form-control" id="loginPassword"
                                   placeholder="Enter your password..." required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="loginForm">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- register modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="registerUsername" class="mt-3">Username</label>
                            <input type="text" class="form-control" id="registerUsername"
                                   placeholder="Enter your username..." required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a username.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword1" class="mt-3">Password</label>
                            <input type="password" class="form-control" id="registerPassword1"
                                   placeholder="Enter your password..." required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword2" class="mt-3">Repeat password</label>
                            <input type="password" class="form-control" id="registerPassword2"
                                   placeholder="Enter your password..." required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                            <div class="invalid-feedback">
                                Please repeat a password.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="registerForm">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center p-2">
        <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#loginModal">
            Login
        </button>
        <button type="button" class="btn btn-success mx-1" data-toggle="modal" data-target="#registerModal">
            Register
        </button>
    </div>

    <div class="card my-3 py-2">
        <div class="d-flex justify-content-end">
            <a href="/cart">
                <span class="badge badge-pill badge-success" id="number-of-products"
                      th:text="${amountOfProductsInCart}">0</span>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <h3 id="category-name" th:text="${category.name}" class="text-center">Category</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu">
                        <div th:each="cat: ${categories}">
                            <a class="dropdown-item category" href="#" th:attr="data-category=${cat.id}"
                               th:text="${cat.name}">Category</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdownSuppliers">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        Suppliers
                    </a>
                    <div class="dropdown-menu">
                        <div th:each="sup: ${suppliers}">
                            <a class="dropdown-item supplier" href="#" th:attr="data-category=${sup.id}"
                               th:text="${sup.name}">Category</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card-text">
        <a id="removeFilters" href="#">Remove all filters</a>
    </div>
    <div id="products" class="row mt-5">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card mb-3 shadow rounded">
                <img class="" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.png'" alt=""/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPriceAsString()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <button class="add-to-cart | btn btn-success" th:attr="data-product-id=${prod.id}">Add to
                            cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

<script src='/static/js/main.js'></script>
<script src='/static/js/auth.js'></script>
</body>
</html>