<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html :: head">
</div>

<body>

<div class="jumbotron text-center bg-info shadow">
    <h1><a href="/" class="text-decoration-none text-dark font-weight-bolder">Codecool Shop</a></h1>
</div>

<div class="container">
    <div class="card text-center mb-5 py-3">
        <h2>Cart</h2>
    </div>

    <div class="container-sm">
        <table class="table table-striped shadow rounded">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col" colspan="2">Quantity</th>
                <th scope="col">Sum</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="product: ${products}">
                <th scope="row" th:attr="data-product-id=${product.getId()}"><i class="remove-product | fa-sharp fa-solid fa-circle-xmark"></i></th>
                <td th:text="${product.getName()}">Laptop</td>
                <td th:text="${product.getPriceAsString()}">200 USD</td>
                <td th:text="${productsAmount.get(product)}">5</td>
                <td><i class="decrease-quantity | fa-solid fa-minus" th:attr="data-product-id=${product.getId()}"></i>&nbsp;<i class="increase-quantity | fa-solid fa-plus" th:attr="data-product-id=${product.getId()}"></i></td>
                <td th:text="${product.getDefaultPrice()} * ${productsAmount.get(product)} + ' USD'">1000 USD</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="row" colspan="5">Total:</th>
                <td th:text="${orderSum} + ' USD'">SUM</td>
            </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-between mb-5">
            <a href="/" class="btn btn-dark">Back</a>
            <a href="/payment" class="btn btn-success">Go to payment</a>
        </div>


    </div>

</div>

<div th:replace="footer.html :: copy"></div>
<script src="/static/js/cart.js"></script>
</body>
</html>